@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@font-face {
  font-family: "KanitBold";
  src: url("/src/assets/fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  @apply bg-white text-black p-3;
}
